In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
df = pd.read_csv('covid_19.csv')

In [3]:
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [11]:
new_df = df[['Country/Region','Deaths']].sort_values(by='Deaths', ascending=False)
new_df

      Country/Region  Deaths
49030             US  148011
48769             US  146935
48508             US  146465
48247             US  145560
47986             US  144430
...              ...     ...
30889      Greenland       0
30888        Denmark       0
10428        Burundi       0
10429   Sierra Leone       0
0        Afghanistan       0

[49068 rows x 2 columns]

In [13]:
grouped_df = new_df.groupby('Country/Region').sum().sort_values(by="Deaths",ascending=False)
grouped_df

                  Deaths
Country/Region
US              11011411
United Kingdom   3997775
Brazil           3938034
Italy            3707717
France           3048524
...                  ...
Bhutan                 0
Mongolia               0
Timor-Leste            0
Seychelles             0
Greenland              0

[187 rows x 1 columns]

In [18]:
country_data = grouped_df['Country/Region'].values.tolist()
country_data

KeyError: 'Country/Region'